html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
}

button,
a,
input {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}
